.App {
  background-color: #121212;
  min-height: 100vh;
  color: #bb86fc;
}

tbody,
td,
tfoot,
th,
thead,
tr {
  border-color: #ddf1f130 !important;
  border-style: solid;
  border-width: 0;
}

td,
th {
  color: #bb86fc;
}

table {
  margin-top: 20px;
}

.btn-outline-success {
  background-color: #121212 !important;
  color: #bb86fc !important;
  border-color: #bb86fc !important;
}

@media only screen and (min-width: 600px) {
  .App {
    padding: 2rem 5rem;
  }
}

@media screen and (max-width: 960px) {
  .valueCount {
    margin: 6px 6px !important;
    padding: 0px 8px !important;
    font-size: 16px !important;
    color: green;
    border: 1px solid green !important;
    border-radius: 5px !important;
  }
  .cartCounter {
    text-align: center;
    font-size: 18px !important;
    color: rgb(75, 165, 249);
  }
  td,
  th {
    padding: 5px !important;
    text-align: center !important;
  }
  th {
    font-size: 1rem;
  }
  .slider:before {
    height: 14px !important;
    width: 14px !important;
  }
  .switch {
    width: 40px !important;
    height: 22px !important;
  }
  h4 {
    font-size: 1rem !important;
    margin-bottom: 0px !important;
  }
  .cardForDetOuter {
    padding: 0.5rem !important;
  }
  .cardForDets {
    border-left: 3px solid white !important;
    height: 30px !important;
    padding: 1.5rem;
    display: flex;
    align-items: center;
  }
  .TableHeader {
    font-size: 1.2rem !important;
    text-transform: uppercase;
    margin-bottom: 1rem !important;
    margin-top: 0.5rem !important;
  }
  .jumbotron {
    background-color: #1e1e1e !important;
    padding-top: 1.2rem !important;
  }
  .p-3 {
    padding: 0.5rem !important;
  }
}

.nav-link {
  white-space: nowrap !important;
}

.redNumCard {
  background-color: #7a0839e7 !important;
  /* color: white !important; */
}

.navbar {
  background-color: #2d363a; /* Use your desired shade of purple */
}

.form-control,
.form-select {
  background-color: #2d363a !important;
  color: #f5d2f8 !important;
}
